<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
  <div class="main-content">

    {{>header}}
    {{!-- <h1>HELP</h1> --}}
    <p>{{helptext}}</p>
    {{!-- <p>{{name}}</p> --}}
  </div>
  {{>footer}}
</body>

</html>